body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    width: 53vw;
    padding-top: 2em;
    background-color: #252b33;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-1 {
    height: 10%;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 4px black;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 11px;
    margin-top: 60px;
}

#continue {
    margin: 0px 1px 1px 0px;
    height: 10%;
    width: 100%;
    color: #8b8e92;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0px;
}

#container-2 {
    height: 60%;
    width: 60%;
    margin: auto;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


#container-2 > input,
#container-2 > div {
    display: flex;
    max-width: 350px;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 350px;
    margin-top: 2%;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 75px;
    border: none;
    background-color: #2d3641;
}

#container-2 > input[type='button']:hover {
    cursor: pointer;
    color: white;
    border: 1px solid black;
}

.email,
.pass {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.email::placeholder,
.pass::placeholder {
    color: white;
}

#sign-in {
    height: 54px;
    width: 300px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 75px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
    background-color: #384454;
    margin-top: 20px; 
}

#container-3 {
    margin-top: 1.3em;
    height: 30%;
    width: 100%;
    padding: 0.5em;
    border-radius: 0em 0em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#login-with-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60%;
    width: 100%;
    text-align: center;
}

#login-with-container > p {
    font-family: Valera;
    font-weight: bold;
    font-size: 1.1em;
    height: 30%;
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 0.7em;
}

#login-with-container > div {
    height: 100%;
    width: 23%;
    display: flex;
}

#login-with-container > div > a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}


#login-with-container > div > a:hover {
    cursor: pointer;
    background-color: #2d3641;
    border-radius: 0.5em;
}

#login-with-container > div > a > img {
    filter: invert(100%);
    height: 3em;
    border-style: solid;
    border-color: #d0ccbc;
    border-radius: 0.5em;
    background-color: #d0ccbc;
}

.footer-text {
    font-family: Valera;
    color: white;
    margin-top: 2em;
    font-size: 1em;
    text-decoration: underline;
    display: inline-block;
}

.password {
    font-family: Valera;
    color: white;
    margin-bottom: 2em;
    font-size: 1em;
    text-decoration: underline;
    display: inline-block;
}
