* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Valera;

    color: white;
}

html,
body {
    width: 100%;
    height: 100%;

    background-color: var(--bgc);
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;

    border: 0;
    background-color: inherit;
}

.button {
    cursor: pointer;
}

.animated-underline {
    cursor: pointer;
    color: white;
}

.animated-underline p {
    display: inline-block;
    position: relative;
    color: white;
}

.animated-underline p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;

    transform: scaleX(0);
    left: 0;
    bottom: 0;

    background-color: white;
    transform-origin: bottom right;
    transition: transform var(--adt) ease-in-out;
}

.animated-underline p:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.allow-user-select {
    user-select: text;
}

.forbid-user-select {
    user-select: none;
}

.hidden-menu {
    display: none;
}

.active-menu {
    display: block;
}

.hidden {
    display: none !important;
}

.hidden-login-container {
    display: none !important;
    opacity: 0;
}

.active {
    display: block;
}

.first {
    margin: 0 !important;
}

.end {
    margin: 0 !important;
}